doctype 5
html(lang='en')
    head
        meta(charset='utf-8')

        title Getting real with pseudo-elements

        meta(name="description", content="Getting real with pseudo-elements")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="css/reveal.min.css")
        link(rel="stylesheet", href="css/theme/moon.css", id="theme")
        link(rel="stylesheet", href="lib/css/solarized-dark.css")

        script(src="http://localhost:35729/livereload.js")

    body
        .reveal
            //- Any section tag in here is displayed as a slide
            .slides
                include slides/title
                section
                    section: h1 Overview
                        aside.notes
                            p Quick definition
                            p Things I'm not going to talk about
                    include slides/overview/1-pseudo-classes
                    include slides/overview/2-diff
                    include slides/overview/3-pseudo-elements
                    include slides/overview/4-first-letter
                    include slides/overview/5-first-line
                    include slides/overview/6-both
                    include slides/overview/7-selection
                section
                    section: h1 :Before/:after
                        aside.notes
                            p Before/after needs a content, event empty string
                            p Not on self closing tag element
                    include slides/before-after/1-content
                    include slides/before-after/2-example
                    include slides/before-after/3-arrows
                    include slides/before-after/4-shapes
                    include slides/before-after/5-examples
                    include slides/before-after/6-clearfix
                    include slides/before-after/7-vertical-align
                    include slides/before-after/8-ribbons
                section
                    section
                        h1 Voilà
                        p François Robichet 
                            a(href='http://twitter.com/calvein') (@calvein)
                        a(href='http://bit.ly/pseudo-elements-talk') http://bit.ly/pseudo-elements-talk

        script(src="lib/js/head.min.js")
        script(src="js/reveal.js")
        script(src="bundle.js")
