section
    h2 Content

    ul
        li.fragment <code>'string'</code>
        li.fragment <code>url(URI)</code>
        li.fragment <code>attr(ATTR)</code>
        li.fragment <code>counter</code> and <code>quote</code> stuff

    aside.notes
        p Normal, none, inherit & initial do nothing and let it hidden
        p String, even empty shows it, you can put ASCII characters too
        p URI for image, svg, CSS gradient
        p Attr return the content of the attribute, usefull for i18n'n'shit
        p counter is to make list with non-list element, basically
        p quote, who care
        p: b I'll show tips
