section
    h2 Arrows

    iframe(src='http://codepen.io/Calvein/full/tjKba')
    p by 
        a(href='http://twitter.com/chriscoyier') Chris Coyier (@chriscoyier)

    aside.notes
        p: b Click in the pen
        p Use hands and rectangles to show border

    style(scoped).
        iframe {
            width: 100%;
            min-height: 300px;
        }