section
    h2 Real life examples

    img.fragment(src='img/arrows.png')
    img.fragment(src='img/circle.png')
    img.fragment(src='img/heaps.png')
    img.fragment(src='img/heaps2.png')

    aside.notes
        p Small triangle in a bigger one
        p Circle, easy to change color & size
        p Next is snippets/protips

    style(scoped).
        img {
            display: block;
            margin: 40px auto;
            border: 0;
        }