section
    h2 Ribbons

    iframe(src='http://soiheardyouliekribbon.com/v2/#BADA55')
    p See 
        a(href='http://soiheardyouliekribbon.com/') http://soiheardyouliekribbon.com

    aside.notes
        p 3 el, h1, i & u

    style(scoped).
        iframe {
            width: 100%;
            min-height: 400px;
            overflow: hidden;
        }