section
    h2 Things I won't talk about
    h4.fragment But I'm actually talkiing about right now

    p.fragment Pseudo-classes
    .fragment
        ul
            li :active
            li :checked
            li :default
            li :dir()
            li :disabled
            li :empty
            li :enabled
            li :first
            li :first-child
            li :first-of-type
            li :fullscreen
            li :focus
            li :hover
        ul
            li :indeterminate
            li :in-range
            li :invalid
            li :lang()
            li :last-child
            li :last-of-type
            li :left
            li :link
            li :not()
            li :nth-child()
            li :nth-last-child()
            li :nth-last-of-type()
            li :nth-of-type()
        ul
            li :only-child
            li :only-of-type
            li :optional
            li :out-of-range
            li :read-only
            li :read-write
            li :required
            li :right
            li :root
            li :scope
            li :target
            li :valid
            li :visited
    a(href='http://bit.ly/pseudo-classes').fragment http://bit.ly/pseudo-classes

    aside.notes
        p Alphabetical order
        p dir(), left & right are weird
        p Link to MDN with list

    style(scoped).
        ul {
            display: inline-block;
            vertical-align: top;
            list-style: none;
        }

        a {
            font-size: 24px;
        }