section
    h2 Pseudo-elements
    ul
        li.fragment ::first-letter
        li.fragment ::first-line
        li.fragment ::selection
        li.fragment ::before
        li.fragment ::after
    a(href='http://bit.ly/pseudo-elements').fragment http://bit.ly/pseudo-elements

    aside.notes
        p can be with only 1 : execpt selection
        p ::selection is not standard
        p List from MDN with links

    style(scoped).
        ul {
            list-style: none;
        }

        a {
            display: block;
            font-size: 24px;
        }