section
    h2 Both
    div
        p It's tricky to write about <em>TowerFall Ascension</em> without sounding like a child — mostly because it's a powerful distillery of childlike glee.
        p I can say, without an ounce of hyperbole, that I have never shouted, cheered or laughed so much playing a game in my life. <i>TowerFall Ascension</i> is designed to evoke these reactions in every single match, and it always, always does. Regardless of how its settings and variables have been tinkered, or the relative skill levels of its players, the matchup is exciting and dynamic every single time.

    style(scoped).
        p:first-of-type {
            font-size: 1.125em;
        }
        p:first-of-type:first-line {
            color: #98225e;
        }
        p:first-of-type:first-letter {
            font-family: 'Gotham SSm A','Gotham SSm B',sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: inherit;
            float: left;
            font-size: 5em;
            line-height: .875em;
            padding: 2px .125em 0 0;
            margin-left: -5px;
            color: #98225e;
            background: -webkit-gradient(linear,left top,left bottom,from(#98225e),to(#6f2c4f)) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
        }

        p {
            text-align: left;
        }
