section
    h2 ::selection

    ul
        li.fragment Non standard
        li.fragment Only support 
            code color
            | , 
            code background
            | , 
            code background-color
            |  and 
            code text-shadow
        li.fragment Always needs ::-moz-selection & ::selection

    iframe.fragment(src='http://francois.robichet.com')

    aside.notes
        p Use to be in the draft
        p background-image is ignored
        p Moz and normal can't be chained, need to duplicate
